version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: oinzpay_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oinzpay
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: oinzpay_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/oinzpay
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data:
